/* ALLMÄNT */

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  width:100vw;
  background-color: #00e575;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Instagram {
    width: 30px;
    height: 29px;
    background-position: -5px -5px;
}

.sprite-Logga {
    width: 40px;
    height: 40px;
    background-position: -45px -5px;
}

.sprite-facebook {
    width: 30px;
    height: 30px;
    background-position: -95px -5px;
}

.sprite-stol-big {
    width: 141px;
    height: 141px;
    background-position: -5px -55px;
}

.sprite-stol-medium {
    width: 103px;
    height: 103px;
    background-position: -227px -5px;
}

.sprite-stol-small {
    width: 80px;
    height: 80px;
    background-position: -156px -118px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -246px -118px;
}

.lager_mask_bild {
  width: 345px;
  height: 240px;
  margin-bottom: 50%;
}

.work_of_art {
  margin-top: 50%;
  text-align: center;
}

.graph-info a {
    position: relative;
    display: inline-block;
    float: left;
    height: 20px;
    padding: 7px 10px 5px 30px;
    margin-right: 10px;
    text-decoration: none;
    cursor: default;
}

/* Color Circles */
.graph-info a:before {
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    top: 13px;
    left: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.graph-info .visitors { border-bottom: 2px solid #71c73e; }

.graph-info .visitors:before { background: #00e575; }
/* Color Circles */

/* Lines & Bars Buttons */
#lines, #bars {
    width: 34px;
    height: 32px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    border-bottom: 2px solid #00e575;
    float: right;
    cursor: pointer;
}

#lines.active, #bars.active {
    background: #00e575;
    background: -moz-linear-gradient(top, #00e575 0%, #00e575 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00e575), color-stop(100%,#00e575));
    background: -webkit-linear-gradient(top, #00e575 0%,#00e575 100%);
    background: -o-linear-gradient(top, #00e575 0%,#00e575 100%);
    background: -ms-linear-gradient(top, #00e575 0%,#00e575 100%);
    background: linear-gradient(to bottom, #00e575 0%,#00e575 100%);
}

#lines span, #bars span {
    display: block;
    width: 34px;
    height: 32px;
    background: url('../img/ic_show_chart_black_24dp.png') no-repeat;
}

#bars span { background: url('../img/ic_insert_chart_black_24dp.png') no-repeat center; }

#lines.active span { background-image: url('../img/ic_show_chart_black_24dp.png'); }

#bars.active span { background-image: url('../img/ic_insert_chart_black_24dp.png'); }
/* Lines & Bars Buttons */

/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
    content: '';
    display: block;
    clear: both;
}
/* Clear Floats */


#tooltip, .graph-info a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
}

.tickLabel {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }


#tooltip {
    position:absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}


/* ALLMÄNT SLUT */

/* MOBIL */


    /* Graph style */

    .graph-container,
    .graph-container div,
    .graph-container a,
    .graph-container span {
        margin-top:0;
        padding: 0;
    }

    .graph-container, #tooltip, .graph-info a {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .graph-container {
        position: relative;
        width: 275px;
        height: 150px;
        padding: 20px;

        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    }

    .graph-container > div {
        position: absolute;
        width: inherit;
        height: inherit;
        top: 10px;
        left: 25px;
    }

    .graph-info {
        width: 295px;
        margin-bottom: 10px;
    }

    /*Graph Style End */

    .menu_background {
      background-color: #00e575;
      top: -5px;
      left: 0;
      width: 75vw;
      height: 100vh;
      z-index: 3;
      opacity: 0;
      animation-name: flowLeft;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 0.2s;
    }

    .menu_background_display {
      display: flex;
      opacity: 100;
      animation-name: flowRight;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.2s;
    }

    .shadow {
      -webkit-box-shadow: 154px 0px 0px 0px rgba(0,0,0,0.34);
      -moz-box-shadow: 154px 0px 0px 0px rgba(0,0,0,0.34);
      box-shadow: 154px 0px 0px 0px rgba(0,0,0,0.34);
      transition: 1s ease;
    }


    @keyframes flowRight {
    0% {
        transform: translateX(-100%);
        }
    100% {
        transform: translateX(0);
        }
      }

      @keyframes flowLeft {
      0% {
          transform: translateX(0);
          opacity: 100;
          }
      100% {
          transform: translateX(-100%);
          opacity: 0;
          }
        }

    .side {
      display: none;
    }

    nav {
      position: fixed;
      height: 35px;
      z-index: 1;
    }

    .header {
      display: none;
    }

    .logo {
      align-self: center;
      position: fixed;
      right: 45vw;
      top:15px;
      -webkit-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    .removed {
      top: -100px;
    }

    .display_none {
      display: none;
    }

    .visable {
      top:15px;
    }

    .hamburger_menu {
      color: white;
      display: flex;
      width: 24px;
      height: 100%;
      z-index: 2;
      align-items: center;
    }

    #hamburger_icon {
      font-size: 25px;
      margin-left: 25%;
    }

    .margin_stopper {
      display: flex;
      justify-content: center;
    }

    .item_header {
      color: black;
      margin-top: 60px;
      text-align: center;
    }

    .center {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .fix_menu_text {
      width: 100%;
      display: flex;
    }

    .links, li {
      text-decoration: none;
      color: black;
      font-size: 30px;
      margin: 10px;
      margin-top: 10px;
    }

    .column {
      flex-direction: column;
    }

    .center_me {
      align-self: center;
    }

    .item_picture {
      width: 80px;
      height: 80px;
      -webkit-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
      border-radius: 50%;
    }

    .people_who_sold {
      font-size: 20px;
      margin: 20px;
      text-decoration: underline;
    }

    .sold_items_box {
      background-color: #00e575;
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .divide_box {
      display: flex;
      flex-direction: row;
    }

    .price_box {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }

    .name_date_box {
      display: flex;
      flex-grow: 2;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }

    .date{
      align-self: center;
      margin-left: 5px;
      font-size: 15px;
    }

    .sold_by_name {
      font-size: 20px;
      align-self: center;
    }

    .price {
      font-size: 25px;
    }

    .more {
      display: flex;
      justify-content: center;
    }

    .more_button {
      width:30%;
      height: 40px;;
      background-color: #00e575;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .more_js {
      display: none;
    }

    .more_text {
      font-size: 20px;
    }

    .sold_items_box_more {
      background-color: #00e575;
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      display: none;
    }

    #margin_top_remover {
      margin-top: 0;
    }

    footer {
      background-color: #00e575;
      margin-top: 20px;
    }

    .info_text {
      margin: 2px;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
    }

    .social {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    .ipad_only {
      display: none;
    }

    .social_images {
      align-self: flex-end;
      width: 30px;
      height: 30px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      margin: 5px;
    }

    .destop_only {
      display: none;
    }

/* MOBIL SLUT*/


/* PLATTA */
@media all and (min-device-width:500px) {

  .side {
    display: none;
  }

  .ipad_only {
    display: flex;
  }

  .mobile_only {
    display: none;
  }

  .not_ipad {
    display: none;
  }

  .item_picture{
    margin-top: 60px;
  }

  .graph-container,
  .graph-container div,
  .graph-container a,
  .graph-container span {
      margin-top:0;
      padding: 0;
  }

  .graph-container, #tooltip, .graph-info a {
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
      background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
      background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
      background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .graph-container {
      position: relative;
      width: 550px;
      height: 300px;
      padding: 20px;

      -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
      -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
      box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  }

  .graph-container > div {
      position: absolute;
      width: inherit;
      height: inherit;
      top: 10px;
      left: 25px;
  }

  .graph-info {
      width: 590px;
      margin-bottom: 10px;
  }

  #tooltip, .graph-info a {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      color: #646464;
  }

  .tickLabel {
      font-weight: bold;
      font-size: 20px;
      color: #666;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .ipad_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ipad_reletad_items {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  .menu_background{
    width: 35vw;
  }

  .shadow {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
    transition: 1s ease;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
  padding-left: 1em;
  text-indent: -.7em;
}

  li::before {
    content: "• ";
    color: #00e575;
  }

  .people_who_sold {
    font-size: 20px;
  }

  .item_picture {
    width: 140px;
    height: 140px;
  }

  .item_header {
    align-self: center;
    margin-right: 25%;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    right: 45vw;
  }

  .logo_ipad {
    position: relative;
    right: inherit;
    border-radius: 50%;
    bottom: 40px;
    margin-bottom: -53px;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 17px rgba(0,0,0,0.75);
  }

  footer {
    max-height: 100px;
  }

  .destop_only {
    display: none;
  }

}
/* PLATTA SLUT*/

/* DESKTOP */

@media all and (min-device-width: 1025px) {

  .side {
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    max-width: 200px;
    background-color: #00e575;
    z-index: 2;
    height: 100vh;
    -webkit-box-shadow: -9px 0px 21px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: -9px 0px 21px 0px rgba(0,0,0,0.34);
    box-shadow: -9px 0px 21px 0px rgba(0,0,0,0.34);
  }

  .look_better_box {
    width: 100%;
    height: 80px;
    -webkit-box-shadow: inset 0px -22px 39px -15px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0px -22px 39px -15px rgba(0,0,0,0.34);
    box-shadow: inset 0px -22px 39px -15px rgba(0,0,0,0.34);
    padding-bottom: 20px;
  }

  .reletad_items_text {
    text-align: center;
    margin: 10px;
  }

  .ipad_only {
    display: none;
  }

  .mobile_only {
    display: none;
  }

  .destop_only {
    display: block;
  }

  .not_only_ipad_destop_too {
    display: block;
  }

  .logo_ipad {
    width: 50px;
    height: 50px;
    bottom: 20px;
  }

    .graph-container,
    .graph-container div,
    .graph-container a,
    .graph-container span {
        margin-top:0;
        padding: 0;
    }

    .graph-container, #tooltip, .graph-info a {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .graph-container {
        position: relative;
        width: 550px;
        height: 300px;
        padding: 20px;

        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
        box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    }

    .graph-container > div {
        position: absolute;
        width: inherit;
        height: inherit;
        top: 10px;
        left: 25px;
    }

    .graph-info {
        width: 590px;
        margin-bottom: 10px;
    }

    .menu_background {
      width: 20vw;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
    padding-left: 1em;
    text-indent: -.7em;
  }

    li::before {
      content: "• ";
      color: black;
    }

    .more_button {
      margin-bottom: 20px;
    }

    .item_picture {
      width: 100px;
      height: 100px;
    }

}
/* DESKTOP SLUT */
